* {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}

h2, p, .price{
	text-transform: capitalize;
	text-align: center;
	margin-top: 10px;
}

section.book {
	display: flex;
	flex-direction: column;
	opacity: 0.5;
	transition: 0.50s;
}

section.vivid {
	opacity: 1;
}

section.BookList {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 20px;
}

p {
	color: #999;
}